.page {
  background-color: #e5ebf1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 1060px;
  padding: 0 30px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1060px) {
    width: 100%;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button {
  margin: 0;
  padding: 0;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}

.button:hover {
  opacity: 0.80;
  cursor: pointer;
}

.next-posts-button {
  border: 5px solid #76797c;
  border-radius: 3px;
  margin-bottom: 50px;
  color: #2a5885;
  &__text{
    margin: 10px 20px;
    font-size: 23px;
    font-weight: 600;
  }
}

.button-conteiner{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  border: none;
  margin-bottom: 50px;
  padding: 0 50px;
  box-sizing: border-box;
}

.number-of-posts-button{
  color: #2a5885;
  border-bottom: 2px solid #2a5885;

  &__text{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
  }
}