.search {
  width: 100%;
  border-radius: 9px;
  background: #76797c;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);

  &__form {
    max-width: 1140px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 19px;
    box-sizing: border-box;
  }

  &__input-container {
    display: flex;
    justify-content: space-between;
    padding-right: 19px;
    width: 79.4%;
    position: relative;
  }

  &__input-container {
    display: flex;
    justify-content: space-between;
    padding-right: 19px;
    width: 79.4%;
    position: relative;

    &::before {
      content: "";
      background: #505050;
      width: 1px;
      height: 40px;
      position: absolute;
      right: -1px;
      top: -3px
    }
  }

  &__input {
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background: #8a8e92;
    border: none;
    outline: none;
    width: 86%;
    border-radius: 5px;
    // min-width: 200px;

    &::placeholder {
      padding-left: 10px;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      opacity: 0.5;
      color: #000;
    }

    &:focus {
      outline: none;
      opacity: 0.4;
    }
  }

  &__icon {
    width: 34px;
    height: 34px;
    object-fit: contain;
  }

  &__button {
    border-radius: 48px;
    // background-color: #2BE080;
    background-image: url("../../images/search-button.svg");
    width: 80px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: bottom 50% right 50%;
    border: #FFFFFF;
    cursor: pointer;
  }

  &__checkbox-conteiner {
    position: relative;
    display: flex;
    padding-right: 11px;
    margin-left: 70px;

    &::before {
      content: "";
      background: #505050;
      width: 1px;
      height: 40px;
      position: absolute;
      right: -1px;
      top: -20px
    }
  }

  &__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__label {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    position: relative;
  }

  &__select {
    padding: 7px 40px 7px 12px;
    margin-left: 19px;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
    background: #8a8e92;

    &:required:invalid {
      color: #5A667F
    }

    &:focus {
      outline: none;
      border-color: #0077FF;
      box-shadow: 0 0 0 2px rgba(#0077FF, .2);
    }
  }

  &__option {
    color: #223254;
    background: white;

    &[value=""][disabled] {
      display: none;
    }

    &:focus {
      outline: none;
      border-color: #0077FF;
      box-shadow: 0 0 0 2px rgba(#0077FF, .2);
    }

    &:hover {
      stroke: #0077FF
    }
  }

  &__checkbox+&__label::before {
    content: "";
    display: inline-block;
    width: 49px;
    height: 49px;
    background-image: url("../../images/heart-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    transition: 0.2s;
    left: -56px;
    top: -24.5px;
  }

  &__checkbox:checked+&__label::before {
    background-image: url("../../images/heart-svgrepo-com_activ.svg");
  }
}