.control-buttons {
  margin: 50px 0 0;
  display: flex;
  flex-direction: column;
}

.next-posts-button {
  border-radius: 11px;
  background-color: #76797c;
  margin: 0 auto;
  margin-bottom: 50px;
  color: #000;

  &__text {
    margin: 15px 25px;
    font-size: 23px;
    font-weight: 600;
  }
}

.button-conteiner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  border: none;
  padding: 0 50px;
  box-sizing: border-box;
}

.number-of-posts-button {
  color: #2a5885;
  border-radius: 1px;
  border-bottom: 4px solid #2a5885;

  &__text {
    margin: 0;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
  }

  &:hover {
    background-color: rgba(136, 152, 165, 0.5490196078);
  }
}